@import "src/components/App.scss";

.wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    &::before {
        content: "";
        position: absolute;
        background: url("../../assets/BackGr.jpg") center / cover no-repeat;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: -1;
    };
}
.shop {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 20px;
    left: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1.5px solid white;
    border-radius: 50%;
    img {
        width: 70%;
        height: 70%;
    }
}
.burger {
    display: none;
}
.burger span{
    background: $font-color-brown;
    border-radius: 10px;
    height: 3px;
    margin: 1px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.burger {
    span:nth-of-type(1){
        width:50%;
    }
    span:nth-of-type(2){
        width:100%;
    }
    span:nth-of-type(3){
        width:75%;
    }
}
input[type="checkbox"]{
    display:none;
}
input[type="checkbox"]:checked {
    & ~ .burger span:nth-of-type(1){
        transform-origin:bottom;
        transform:rotatez(45deg) translate(1.5px,-1px)
    };
    & ~ .burger span:nth-of-type(2){
        transform-origin:top;
        transform:rotatez(-45deg)
    };
    & ~ .burger span:nth-of-type(3){
        transform-origin:bottom;
        width:50%;
        transform: translate(9px,-2.5px) rotatez(45deg);
    }
}
.navigate {
    margin: 40px;
    display: flex;
    justify-content: flex-end;
    font-size: 1.3vw;
    color: rgb(80, 60, 0);
    font-family: "SourceCode";
    font-weight: bold;
}
.navigate p:not(:last-child) {
    margin-right: 1.5rem;
}
.container_text {
    width: 100%;
    height: 100%;
    text-align: end;
    margin-top: 20vh;
    line-height: 4vw;
    color: rgb(80, 60, 0);
    font-family: "SourceCode";
}
.title {
    font-size: 3vw;
    text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    margin-right: 2rem;
}
.text {
    font-size: 1.6vw;
    margin-right: 2rem;
}

@include breakpoint(lg) {
    .navigate {
        margin: 20px 40px;
        font-size: 1.7vw;
    }
    .navigate p:not(:last-child) {
        margin-right: 1rem;
    }
    .container_text {
        margin-top: 16vh;
    }
    .title {
        margin-right: 1.5rem;
    }
    .text {
        margin-right: 1.5rem;
    }
}
@include breakpoint(n) {
    .navigate {
        font-size: 2vw;
    }
    .navigate p:not(:last-child) {
        margin-right: 0.6rem;
    }
    .container_text {
        line-height: 5vw;
    }
    .title {
        font-size: 4.1vw;
        margin-right: 1rem;
    }
    .text {
        font-size: 2.1vw;
        margin-right: 1rem;
    }
}
@include breakpoint(sm) {
    .navigate {
        margin: 10px;
        font-size: 2vw;
    }
    .navigate p:not(:last-child) {
        margin-right: 0.5rem;
    }
    .container_text {
        position: absolute;
        top: 0.5vh;
        right: 0;
        line-height: 6vw;
        width: 48vw;
        text-align: center;
    }
    .title {
        font-size: 5vw;
    }
    .text {
        margin-top: 0.5rem;
        font-size: 3vw;
        line-height: 4vw;
    }
}
@include breakpoint(xs) {
    .navigate {
        display: none;
    }
    .burger {
        display: flex;
        flex-direction: column;
        width: 20px;
        cursor: pointer;
        margin: 15px 20px 0 auto;
    }
    input[type="checkbox"]:checked {
        & ~ .navigate {
            display: flex;
            position: absolute;
            font-size: 0.7rem;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: flex-start;
            width: 200px;
            border: 1px solid black;
            border-radius: 4px;
            padding: 0.3rem;
            top: 0;
            right: 40px;
            // transition: all 0.7s ease-out 0.7s;
        };
        & ~ .navigate p:not(:last-child) {
            margin-right: 0.4rem;
            margin-bottom: 0.6rem;
        };
    }
    .container_text {
        line-height: 7.5vw;
        width: 55vw;
    }
    .title {
        font-size: 5vw;
        margin-right: 10px;
    }
    .text {
        font-size: 3vw;
        margin-right: 10px;
        line-height: 4vw;
    }
}