$breakpoints: (
  xs: 575.98px,
  s: 610.98px,
  sm: 767.98px,
  md: 991.98px,
  n: 1023.98px,
  lg: 1439.98px,
);
$font-color-brown: rgb(80, 60, 0);

@mixin breakpoint($breakpoint) {

    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (max-width: ($breakpoint-value)) {
        @content;
    };
}