@import "src/components/App.scss";

.wrapper {
    padding-top: 4rem;
    width: 100%;
    height: 34rem;
    overflow: hidden;
    position: relative;
    &::before {
        content: "наши рекомендации";
        position: absolute;
        top: 2rem;
        left: 2rem;
        color: $font-color-brown;
        font-size: 1.2rem;
    };
    &::after {
        content: "";
        position: absolute;
        top: 2.7rem;
        left: 0;
        width: 1.9rem;
        height: 0.1rem;
        background-color: $font-color-brown;
    }
}
.nav {
    display: flex;
    justify-content: center;
    color: $font-color-brown;
    font-size: 1.7rem;
}
.hit {
    margin-right: 2rem;
}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    line-height: 2rem;
    overflow-y: scroll;
    justify-content: flex-start;
    margin: 2rem 0;
}
.card {
    padding: 0.8rem;
    line-height: 35px;
    position: relative;
    img {
        width: 250px;
        height: 300px;
        border-radius: 5%;
        object-fit: cover;
    };
}
.ishot {
    position: absolute;
    top: 15px;
    right: 15px;
    &::after {
        content: "";
        position: absolute;
        background: url("../../assets/link/hot.svg") center / cover no-repeat;
        width: 25px;
        height: 25px;
        top: 0;
        right: 0;
    }
}
.isnew {
    position: absolute;
    top: 10px;
    right: 12px;
    &::after {
        content: "";
        position: absolute;
        background: url("../../assets/link/new.svg") center / cover no-repeat;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
    }
}
.text {
    font-size: 1.3rem;
}
.price {
    font-size: 1.4rem;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        background: url("../../assets/link/ruble.svg") 0 0 / 100% no-repeat;
        width: 1.5rem;
        height: 1.5rem;
        top: 20%;
    }
}
.shop {
    background: none;
    width: 2.8rem;
    height: 2.8rem;
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    img {
        width: 100%;
        height: 100%;
    }
}